<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
<!-- 这里主要配置 数据源，mybatis的sqlSessionFactory,在其中引入mybatis的配置文件 --> 
<!-- 打开注解 -->
<context:annotation-config/>
<!-- 打开自动代理 -->
<aop:aspectj-autoproxy/>
<!-- 打开注解的扫描 -->
<context:component-scan base-package="com"></context:component-scan>




<!-- 配置数据源 -->
<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
    <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
    <property name="username" value="crm"/>
    <property name="password" value="123456"/>
</bean>   

<!-- 配置sqlSessionFactory -->
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="dataSource"></property>
	<property name="configLocation" value="classpath:com/oracle/resource/mybatis-config.xml"></property>
</bean>


<!-- 扫描Mapper -->
<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">

<property name="basePackage" value="com.oracle.mapper"></property>
<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
</bean>

<!-- 配置事务 -->

<bean id="TransactionManager" 
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<property name="dataSource" ref="dataSource"></property>
</bean>

 <!-- 邮件服务 -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.qq.com"/>
        <!-- //或许你可以用465端口，默认的25不适合 -->
        <property name="port" value="587"/>
        <property name="protocol" value="smtp"/>
        <!-- username:通过哪一个进行邮件发送 -->
        <property name="username" value="2696578102@qq.com"/>
        <!-- //这里的是你通过短信后，获取的授权码 -->
        <property name="password" value="cdnwxyflxubbdgfe"/> 
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="javaMailProperties">
            <props>  
                <prop key="mail.smtp.auth">true</prop> 
                <prop key="mail.smtp.timeout">25000</prop>  
            </props>
        </property>
    </bean>

    <!-- this is a template message that we can pre-load with default state -->
    <bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="2696578102@qq.com"/>
        <property name="subject" value="尝试发邮件"/>
    </bean>
    



    
</beans>