*{
    margin:0px;
    padding:0px;
}
#interface{
    width:100%;
    height:800px;
    background:#F8F6F4;
}
#main{
    width:340px;
    height:453px;
    background:#fff;
    border:1px solid gray;
    margin:100px auto;
}
#main h3{
    height:85px;
    line-height:85px;
    font-size:14px;
    text-indent:45px;//首行缩进

}
#loginCon{
    width:252px;
    height:280px;

    margin:10px auto;
}
#loginCon p.txt{

    padding-bottom:20px;
}
#loginCon p.txt input{
    width:240px;
    height:35px;
    border:1px solid #ddd;
    border-radius:5px;
    text-indent: 15px;
}
#loginCon p.txt input.yzm{
    width:80px;
}
#loginCon p.txt input.but{
    width:90px;
    height:40px;
    background:#333;
    color:#fff;
    cursor:pointer;
}
